.ChartsContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 2px;
  max-width: 250px;
}

.ChartsContainer img {
  width: 30px; 
}





