:root {
  --clr-primary-400: hsl(15, 40%, 98%);
  --clr-accent-400: hsl(25, 99%, 55%);
  --clr-neutral-100: hsl(160, 2%, 61%);
  --clr-neutral-700: hsl(22, 5%, 39%);
  --clr-neutral-800: hsl(240, 3%, 14%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-neutral-1000: hsl(0, 0%, 100%);

  --clr-logo-400: hsl(201, 100%, 45%);
  --clr-logo-900: hsl(202, 71%, 68%);
}

[data-theme="dark"] {
  --clr-primary-400: hsl(240, 3%, 14%);
  --clr-accent-400: hsl(25, 99%, 55%);
  --clr-neutral-100: hsl(15, 40%, 98%);
  --clr-neutral-700: hsl(15, 40%, 98%);
  --clr-neutral-800: hsl(
    160,
    2%,
    61%
  ); 
  --clr-neutral-900: hsl(0, 0%, 100%); 

  --clr-neutral-1000: hsl(0, 0%, 0%);

  --clr-logo-400: hsl(201, 100%, 45%);
  --clr-logo-900: hsl(215, 88%, 83%);
}

body {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-900);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

p {
  color: var(--neutral-color);
  line-height: 1.5;
}

button {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
