.nav {
  max-width: 1050px;
  margin: 0.825rem auto;
  display: flex;
  justify-content: space-between;
  outline: 1px solid var(--clr-neutral-100);
  border-bottom: 0.25rem solid #eeeeec;
  border-radius: 0.815rem;
  align-items: center;
  background-color: var(--clr-neutral-1000);
  padding: 0.5rem 1rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.menu {
  display: flex;
  gap: 3rem;
}

.menu li {
  list-style-type: none;
  color: var(--clr-neutral-700);
  font-size: var(--fs-400);
  font-family: var(--ff-secondary);
  cursor: pointer;
  padding: 0.4rem 1rem;
  border: 2px solid var(--clr-logo-900);
  background: hsl(202, 91%, 82%);
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.menu li:hover {
  background: hsl(201, 100%, 60%);
}

.menu li.active {
  background: hsl(201, 100%, 45%);
  color: var(--clr-neutral-900);
}

.profilelist {
  list-style-type: none;
  color: var(--clr-neutral-700);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profilelist li {
  font-size: var(--fs-400);
  font-family: var(--ff-secondary);
  position: relative;
}

.profilelist li img {
  width: 35px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 55px;
  left: -38px;
  background-color: var(--clr-neutral-1000);
  border: 1px solid var(--clr-neutral-100);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown p {
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--clr-neutral-300);
  text-align: center;
}

.dropdown button {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
